/* external */
#container {
    width:1000px;
    height:1000px;
    background-image:url(/2195f3f61b37d3ea8f175988c003a588_s.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    margin-left: 100px;
    margin-top: 100x;
}